@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 96%;
    --foreground: 220 84% 12%;

    --muted: 220 14% 90%;
    --muted-foreground: 220 14% 46%;

    --popover: 220 14% 96%;
    --popover-foreground: 220 84% 12%;

    --card: 220 14% 96%;
    --card-foreground: 220 84% 12%;

    --border: 220 14% 90%;
    --input: 220 14% 90%;

    --primary: 220 84% 12%;
    --primary-foreground: 220 14% 96%;

    --secondary: 220 14% 90%;
    --secondary-foreground: 220 84% 12%;

    --accent: 220 14% 90%;
    --accent-foreground: 220 84% 12%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --ring: 220 84% 12%;

    --tmdb-primary: 207 89% 14%;    /* #032541 */
    --tmdb-secondary: 197 99% 45%;   /* #01b4e4 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 40% 13%;
    --foreground: 220 14% 96%;

    --muted: 220 40% 17%;
    --muted-foreground: 220 14% 65%;

    --popover: 220 40% 13%;
    --popover-foreground: 220 14% 96%;

    --card: 220 40% 13%;
    --card-foreground: 220 14% 96%;

    --border: 220 40% 17%;
    --input: 220 40% 17%;

    --primary: 220 14% 96%;
    --primary-foreground: 220 40% 13%;

    --secondary: 220 40% 17%;
    --secondary-foreground: 220 14% 96%;

    --accent: 220 40% 17%;
    --accent-foreground: 220 14% 96%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 220 14% 83%;

    --tmdb-primary: 207 89% 14%;    /* #032541 */
    --tmdb-secondary: 197 99% 45%;   /* #01b4e4 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
